@model bacit_dotnet.MVC.Models.Suggestions.SuggestionViewModel;
<<<<<<< HEAD
<h1>
    Heiii O.O
    <br>
    Navn @Model.Name
    Tittel @Model.Title
    Beskrivelse @Model.Description
    Team @Model.Team
    Tid @Model.TimeStamp
    Plan @Model.Plan
    Do @Model.Do
    Study @Model.Study
    Act @Model.Act
    Status @Model.Status
    Responsible @Model.Responsible
    Dept @Model.Dept
    CaseNum @Model.CaseNum
    PicBefore @Model.PicBefore
    PicAfter @Model.PicAfter
    Timeframe @Model.Timeframe
    Deadline @Model.Deadline
</h1>
=======



<h1>
    Navn: @Model.Name
    Tittel: @Model.Title
    Beskrivelse: @Model.Description    
</h1>
>>>>>>> 3253d016b1351f525ae0a514e394a62fed68a5ba
